<!DOCTYPE html>
<html>
   <head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/imagem/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index-adm.css">
   </head>

<style>
    .container {
    display: block;}
</style>

   <body>
        <%- include('../../partials/navbar'); %>

<section class="container body-content">
        <h2 id="title">Usuários Administradores</h2>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Telefone</th>
        <th>Tipo Usuário</th>
        <th>Status</th>
    </tr>
    <% if (usuariosAdms && usuariosAdms.length > 0) { %>
        <% usuariosAdms.forEach(usuario => { %>
            <tr>
                <td><%= usuario.id_usuario %></td>
                <td><%= usuario.nome_usuario %></td>
                <td><%= usuario.email_usuario %></td>
                <td><%= usuario.telefone_usuario || 'Não informado' %></td>
                <td>
                    <%= usuario.tipo_usuario === 'C' ? 'Comum' : usuario.tipo_usuario === 'A' ? 'Administrador' : usuario.tipo_usuario === 'E' ? 'Escola' : usuario.tipo_usuario %>
                </td>
                <td><%= usuario.status_usuario === 1 ? 'Ativo ✅' : 'Inativo ❌' %></td>
            </tr>
        <% }); %>
    <% } else { %>
        <tr>
            <td colspan="6">Nenhum usuário administrador encontrado.</td>
        </tr>
    <% } %>

</table>

        <section class="s"></section>
        <%- include('../../partials/footer'); %>
        </body>
</html>
