<!DOCTYPE html>
<html>
   <head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/imagem/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index-adm.css">
   </head>

<style>
    .container {
    display: block;}
</style>

   <body>
        <%- include('../../partials/navbar'); %>

 

<section class="container body-content">
        <h2 id="title">Escolas Ativas</h2>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>E-mail</th>
        <th>CNPJ</th>
        <th>Endereço</th>
        <th>Número</th>
        <th>Status</th>
    </tr>
    <% if (escolas && escolas.length > 0) { %>
        <% escolas.forEach(escola => { %>
            <tr>
                <td><%= escola.id_usuario %></td>
                <td><%= escola.nome_usuario %></td>
                <td><%= escola.email_usuario %></td>
                <td><%= escola.cnpj || 'Não informado' %></td>
                <td><%= escola.endereco || 'Não informado' %></td>
                <td><%= escola.numero || 'Não informado' %></td>
                <td><%= escola.status_usuario === 1 ? 'Ativo ✅' : 'Inativo ❌' %></td>
            </tr>
        <% }); %>
    <% } else { %>
        <tr>
            <td colspan="7">Nenhuma escola encontrada.</td>
        </tr>
    <% } %>

</table>

        <section class="s"></section>
        <%- include('../../partials/footer'); %>   
        </body>
</html>