<!DOCTYPE html>
<html>
   <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index-adm.css">
   </head>
   <body>
        <%- include('../../partials/navbar'); %>
        <%- include('../../partials/navbar-adm'); %>

        <section class="welcome">
            <h1>Bem-vindo à área administrativa, Ana Carolina!</h1>
        </section>
 <section class="container body-content">
        <h2 id="title">Usuários Ativos</h2>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Telefone</th>
        <th>Tipo Usuário</th>
        <th>Status</th>
    </tr>
    <% if (usuarios && usuarios.length > 0) { %>
        <% usuarios.forEach(usuario => { %>
            <tr>
                <td><%= usuario.id_usuario %></td>
                <td><%= usuario.nome_usuario %></td>
                <td><%= usuario.email_usuario %></td>
                <td><%= usuario.telefone_usuario || 'Não informado' %></td>
                <td>
                    <%= usuario.tipo_usuario%>
                </td>
                <td><%= usuario.status_usuario === 1 ? 'Ativo ✅' : 'Inativo ❌' %></td>
            </tr>
        <% }); %>
    <% } else { %>
        <tr>
            <td colspan="5">Nenhum usuário encontrado.</td>
        </tr>
    <% } %>

</table></section>

        <%- include('../../partials/footer'); %>   
        </body>
</html>