<!DOCTYPE html>
<html>
   <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index-adm.css">
   </head>

<style>
    .container {
    display: block;}
</style>

   <body>
        <%- include('../../partials/navbar'); %>

 

<section class="container body-content">
        <h2 id="title">Escolas Premium</h2>
<table class="table">
    <tr>
        <th>ID Escola</th>
        <th>Nome da Escola</th>
        <th>ID Assinatura</th>
        <th>Nome do Plano</th>
        <th>Data Início</th>
        <th>Data Fim</th>
    </tr>
    <% if (escolasPremium && escolasPremium.length > 0) { %>
        <% escolasPremium.forEach(escola => { %>
            <tr>
                <td><%= escola.id_escola %></td>
                <td><%= escola.nome_escola %></td>
                <td><%= escola.id_assinatura %></td>
                <td><%= escola.nome_plano %></td>
                <td><%= new Date(escola.data_inicio).toLocaleDateString('pt-BR') %></td>
                <td><%= escola.data_fim ? new Date(escola.data_fim).toLocaleDateString('pt-BR') : 'Indeterminado' %></td>
            </tr>
        <% }); %>
    <% } else { %>
        <tr>
            <td colspan="6">Nenhuma escola premium encontrada.</td>
        </tr>
    <% } %>

</table>

<% if(paginador){ %>
<aside class="paginador">
    <ul>
        <% for(var i=1; i <= paginador.totPaginas; i++){ %>
            <% if(paginador.paginaAtual == i){ %>
                <li>
                    <a href="?pagina=<%= i %>" class="atual"><%= i %></a>
                </li>
            <% } else { %>
                <li>
                    <a href="?pagina=<%= i %>"><%= i %></a>
                </li>
            <% } %>
        <% } %>
    </ul>
</aside>
<% } %>

        <section class="s"></section>
        <%- include('../../partials/footer'); %>   
        </body>
</html>