<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Cadastrar Escola</title>
    <link rel="stylesheet" href="css/login.css">
    <script>
        function rolar_pra_baixo(){
        window.scrollTo({
        top: 600,
        behavior: 'smooth'
        })
        }

    </script>
</head>

<body>
    <%
    let  erroValidacao =  {"name_school":"","adress":"","adress_n":"", "city":"", "email":"","password":"","reppassword":"", cnpj:""};
    let  msgErro =  {"name_school":"","adress":"","adress_n":"", "city":"", "email":"","password":"","reppassword":"", cnpj:""};
    if(erros) {
        erros.errors.forEach(function(erro) {
            if (erro.path == "name_school") {
                erroValidacao.name_school = "erro",
                msgErro.name_school = erro.msg
            }
            if (erro.path == "email") {
                erroValidacao.email = "erro",
                msgErro.email = erro.msg
            }
            if (erro.path == "password") {
                erroValidacao.password = "erro",
                msgErro.password = erro.msg
            }
            if (erro.path == "reppassword") {
                erroValidacao.reppassword = "erro",
                msgErro.reppassword = erro.msg
            }
            if (erro.path == "adress") {
                erroValidacao.adress = "erro",
                msgErro.adress = erro.msg
            }
            if (erro.path == "adress_n") {
                erroValidacao.adress_n = "erro",
                msgErro.adress_n = erro.msg
            }
            if (erro.path == "city") {
                erroValidacao.city = "erro",
                msgErro.city = erro.msg
            }
            if (erro.path  == "cnpj"){
                cssErro.cnpj = "erro";
                msgErro.cnpj = itemErro.msg;                
             }  

        })
    }; %>


    <%- include('../partials/navbar'); %><!DOCTYPE html>
    <nav id="top_part_space">
    <section id="top_part">
        <a>
            Inscreva sua instituição para alcançar seus <p>futuros alunos!</p>
        </a>
        <img src="imagem/asasa.png">
    </section>
    <section id="top_button">
    <button onclick="rolar_pra_baixo()">VAMOS LÁ!</button>
    </section>
    </nav>

    <section id="centralizar">
    <main id="form_space">
        <section id="form2">
            <form action="cadastro_escola_post" method="POST">
                <h2 id="form_title">Informações Básicas</h2>
                <p>Nome da Escola</p>
                <input type="text" id="name_school" name="name_school" value="<%= valores.name_school %>" class="<%= erroValidacao.name_school%>">
                <span class="spanerro"><%=msgErro.name_school%></span>

                
                <section id="endereco">
                <p>Endereço</p>
                <input type="text" id="endereco_escola" name="adress" value="<%= valores.adress %>" class="<%= erroValidacao.adress%>">
                <span class="spanerro"><%=msgErro.adress%></span>
                <p>N°</p>
                <section id="pequeno">
                <input type="number" id="n_escola" name="adress_n" value="<%= valores.adress_n %>" class="<%= erroValidacao.adress_n%>">
                <span class="spanerro"><%=msgErro.adress_n%></span>
                </section> 
         
                </section>
                
                <section id="endereco">
                    <section>
                    <p>Cidade</p>
                    <input type="text" id="cidade_escola" name="city" value="<%= valores.city %>" class="<%= erroValidacao.city%>">
                    <span class="spanerro"><%=msgErro.city%></span>
                    </section>
                    <section>
                    <p>Estado</p>
                    <section id="pequeno">
                        <select id="estado_escola">
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                          </select>
                    </section>
                    <section><p id="cnpj">CNPJ</p>
                        <input type="text" maxlength="18" id="cnpj_input" name="cnpj" value="<%= valores.cnpj %>" class="<%= erroValidacao.cnpj %>">
                        <span class="spanerro"><%= msgErro.cnpj %></span>
                
                        
                    </section> 
                    </section>
                
            </section>
            
            
            <section id="checkboxes">
                <section id="parts_checks"> 
                <p>Tipo de Ensino</p>
                <ul>
                <li>
                    <input type="checkbox" id="educacao_infantil">
                    <label for="educacao_infantil">Educação Infantil</label>
                </li>
                <li>
                    <input type="checkbox" id="educacao_infantil">
                    <label for="educacao_infantil">Ensino Fundamental</label>
                </li>
                <li>
                    <input type="checkbox" id="educacao_infantil">
                    <label for="educacao_infantil">Ensino Médio</label>
                </li>
                <li>
                    <input type="checkbox" id="educacao_infantil">
                    <label for="educacao_infantil">Educação Integrado</label>
                </li>
                <li>
                    <input type="checkbox" id="educacao_infantil">
                    <label for="educacao_infantil">Ensino Técnico</label>
                </li>
                <li>
                    <input type="checkbox" id="educacao_infantil">
                    <label for="educacao_infantil">Cursos Profissionalizantes</label>
                </li>
                <li>
                    <input type="checkbox" id="educacao_infantil">
                    <label for="educacao_infantil">Cursos Extracurriculares</label>
                </li>
                <li>
                    <input type="checkbox" id="educacao_infantil">
                    <label for="educacao_infantil">Cursos de Idioma</label>
                </li>
                <li>
                    <input type="checkbox" id="educacao_infantil">
                    <label for="educacao_infantil">Outro</label>
                </li></ul>
                </section>

                <section id="parts_checks"> 
                    <p>Turnos</p><ul>
                    <li>
                        <input type="checkbox" id="educacao_infantil">
                        <label for="educacao_infantil">Manhã</label>
                    </li>
                    <li>
                        <input type="checkbox" id="educacao_infantil">
                        <label for="educacao_infantil">Tarde</label>
                    </li>
                    <li>
                        <input type="checkbox" id="educacao_infantil">
                        <label for="educacao_infantil">Integral</label>
                    </li>
                    <li>
                        <input type="checkbox" id="educacao_infantil">
                        <label for="educacao_infantil">Noite</label>
                    </li>
                    <li>
                        <input type="checkbox" id="educacao_infantil">
                        <label for="educacao_infantil">*Sábado</label>
                    </li></ul>
                
                    </section>

                    <section id="parts_checks"> 
                        <p>Rede</p><ul>
                        <li>
                            <input type="checkbox" id="educacao_infantil">
                            <label for="educacao_infantil">Municipal</label>
                        </li>
                        <li>
                            <input type="checkbox" id="educacao_infantil">
                            <label for="educacao_infantil">Estadual</label>
                        </li>
                        <li>
                            <input type="checkbox" id="educacao_infantil">
                            <label for="educacao_infantil">Fundação</label>
                        </li>
                        <li>
                            <input type="checkbox" id="educacao_infantil">
                            <label for="educacao_infantil">Particular</label></li>
                        </ul> </section>
                       
                        </section>
            </section>
            

            <p>E-mail</p>
            <input type="email" id="email" name="email" value="<%= valores.email %>" class="<%= erroValidacao.email%>">
            <span class="spanerro"><%=msgErro.email%></span>

            <p>Senha</p>
            <input type="password" id="senha" name="password" value="<%= valores.password %>" class="<%= erroValidacao.password%>">
            <span class="spanerro"><%=msgErro.password%></span>

            <p>Confirmação de Senha</p>
            <input type="password" id="repetir_senha" name="reppassword" value="<%= valores.reppassword %>" class="<%= erroValidacao.reppassword%>">
            <span class="spanerro"><%=msgErro.reppassword%></span>

            <section class="concordancias">
                <input type="checkbox" id="politica_privacidade">
                <label for="politica_privacidade">Concordo com a Política de Privacidade</label>

                <input type="checkbox" id="novidades">
                <label for="novidades">Desejo receber as novidades do site por e-mail</label>
            </section>
            
            <section id="submit_button">
            <input type="submit" id="criar_conta" value="CRIAR CONTA" />
            </section>
            </form>
        </section>
    </main>
</section>
    <%- include('../partials/footer'); %>
    <script src="js/mascaras.js"></script>
</body>

</html>
