<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Escola</title>
    <link rel="icon" type="image/png" href="/imagem/favicon.png">
    <link rel="stylesheet" href="css/cadastro-escola.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.js"></script>
    <link rel="icon" type="image/png" href="/imagem/favicon.png">
    <script src="js/apiCEP.js"></script>
    <script>
        function rolar_pra_baixo() {
            window.scrollTo({
                top: 600,
                behavior: 'smooth'
            })
        }
    </script>

    <script>
        function notify(title, text, type, position, timeout = 5000) {
            new Notify({
                status: type,
                title: title,
                text: text,
                effect: 'fade',
                speed: 500,
                showIcon: true,
                showCloseButton: true,
                autoclose: true,
                autotimeout: timeout,
                gap: 20,
                distance: 20,
                type: 1,
                position: position
            });
        }
    </script>

</head>

<body>
    <%
        let  msgErro = "";
        let erroValidacao = {
            "name_school": "",
            "adress": "",
            "adress_n": "",
            "city": "",
            "email": "",
            "password": "",
            "reppassword": "",
            cnpj: ""
        };
        
        let avisoErro= {
            "name_school": "",
            "adress": "",
            "adress_n": "",
            "city": "",
            "email": "",
            "password": "",
            "reppassword": "",
            cnpj: ""
        };
        if (erros) {
            erros.errors.forEach(function (erro) {
                if (erro.path == "name_school") {
                    avisoErro.name_school = "erro",
                        msgErro += `* ${erro.msg} <br>`;
                }
                if (erro.path == "email") {
                    avisoErro.email = "erro",
                        msgErro += `* ${erro.msg} <br>`;
                }
                if (erro.path == "password") {
                    avisoErro.password = "erro",
                        msgErro += `* ${erro.msg} <br>`;
                }
                if (erro.path == "reppassword") {
                    avisoErro.reppassword = "erro",
                        msgErro += `* ${erro.msg} <br>`;
                }
                if (erro.path == "adress") {
                    avisoErro.adress = "erro",
                        msgErro += `* ${erro.msg} <br>`;
                }
                if (erro.path == "adress_n") {
                    avisoErro.adress_n = "erro",
                        msgErro += `* ${erro.msg} <br>`;
                }
                if (erro.path == "city") {
                    avisoErro.city = "erro",
                        msgErro += `* ${erro.msg} <br>`;
                }
                if (erro.path == "cnpj") {
                    avisoErro.cnpj = "erro";
                    msgErro += `* ${erro.msg} <br>`;
                }
            })  
        if(msgErro != ""){
        %>
        <script>
                let msgErro ="<%= msgErro %>"
                notify("Erro(s) no preenchimento","Verifique o(s) campo(s) <br>  " + msgErro.replace(/&lt;/g,"<").replace(/&gt;/g,">"),
                 "error", "center", 5000)                        
            </script>
        <%
        }
    }
    if (dadosNotificacao) { %>
        <script>
                notify("<%= dadosNotificacao.titulo%>","<%= dadosNotificacao.mensagem%>", "<%= dadosNotificacao.tipo%>", "center")
                if("<%= dadosNotificacao.tipo %>" == "success"){
                    setTimeout(function(){window.location="/sair"}, 3000)
                }                        
        </script>
    <% } %>

    <%- include('../partials/navbar'); %>

    <nav id="top_part_space">
        <section id="top_part">
            <a>
                Inscreva sua instituição para alcançar seus
                <p>futuros alunos!</p>
            </a>
            <img src="imagem/asasa.png">
        </section>
        <section id="top_button">
            <button onclick="rolar_pra_baixo()">VAMOS LÁ!</button>
        </section>
    </nav>

    <section id="centralizar">
        <main id="form_space">
            <section id="form">
                <!-- Formulário  -->
                <form action="/cadastro_escola_post" method="POST" id="multiSteps">

                    <span class="step active">
                        <h2 id="form_title">Informações Básicas</h2>

                        <p>Nome da Escola</p>
                        <input type="text" id="name_school" name="name_school" value="<%= valores.name_school %>" class="<%= erroValidacao.name_school%>">
                        <span class="spanerro"><%=msgErro.name_school%></span>

                        <p>E-mail</p>
                        <input type="email" id="email" name="email" value="<%= valores.email %>" class="<%= erroValidacao.email%>">
                        <span class="spanerro"><%=msgErro.email%></span>

                        <p>Senha</p>
                        <input type="password" id="senha" name="password" value="<%= valores.password %>" class="<%= erroValidacao.password%>">
                        <span class="spanerro"><%=msgErro.password%></span>

                        <p>Confirmação de Senha</p>
                        <input type="password" id="repetir_senha" name="reppassword" value="<%= valores.reppassword %>" class="<%= erroValidacao.reppassword%>">
                        <span class="spanerro"><%=msgErro.reppassword%></span>

                        <p id="cnpj">CNPJ</p>
                        <input type="text" maxlength="18" id="cnpj_input" name="cnpj" maxlength="18" placeholder="00.000.00/00000-00" value="<%= valores.cnpj %>" class="<%= erroValidacao.cnpj %>">
                        <span class="spanerro"><%= msgErro.cnpj %></span>

                        <section class="gonbackButtons">
                            <button type="button" class="next">Próximo</button>
                        </section>
                    </span>

                    <span class="step" id="step2">
                        <h2 id="form_title">Endereço</h2>
                        <section class="endereco">
                            <section id="end">
                                <section class="ob">
                                    <section class="cep">
                                        <p>CEP</p> <br>
                                        <input type="text" id="cep" placeholder="00000-000" name="cep" maxlength="9" value="<%= valores.cep %>" class="<%= erroValidacao.cep%>" onblur="pesquisacep(this.value);" onkeyup="mascaraCEP(event)">
                                        <span class="spanerro"><%=msgErro.cep%></span>
                                    </section>
                                    <section class="complemento">
                                        <p>N°</p><br>
                                        <input type="text" id="num" name="adress_n" value="<%= valores.adress_n %>" class="<%= erroValidacao.adress_n%>">
                                        <span class="spanerro"><%=msgErro.adress_n%></span>
                                    </section>
                                </section>
                            </section>

                            <p>Endereço</p><br>
                            <input type="text" id="logradouro" name="adress" value="<%= valores.adress %>" class="<%= erroValidacao.adress%>">
                            <span class="spanerro"><%=msgErro.adress%></span>


                            <section class="endereco">
                                <section>
                                    <p>Cidade</p><br>
                                    <input type="text" id="city" name="city" value="<%= valores.city %>" class="<%= erroValidacao.city%>">
                                    <span class="spanerro"><%=msgErro.city%></span>
                                </section>
                                <section>
                                    <section>
                                    </section>
                                </section>
                            </section>
                        </section>

                        <section class="gonbackButtons">
                            <button type="button" class="prev">Voltar</button>
                            <button type="button" class="next">Próximo</button>
                        </section>
                    </span>

                    <span class="step">
                        <h2 id="form_title">Sobre a sua escola</h2>
                        <section id="checkboxes">
                            <section class="parts_checks">
                                <ul>
                                    <p>Tipo de Ensino</p>
                                    <li>
                                        <input type="checkbox" id="educacao_infantil" name="educacao_infantil" value="Educação Infantil">
                                        <label for="educacao_infantil">Educação Infantil</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="ef1" name="ef1" value="Ensino Fundamental">
                                        <label for="ef1">Ensino Fundamental</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="ef2" name="ef2" value="Ensino Médio">
                                        <label for="ef2">Ensino Médio</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="ei" name="ei" value="Educação Integrada">
                                        <label for="ei">Educação Integrada</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="etec" name="etec" value="Cursos Técnicos">
                                        <label for="etec">Cursos Técnicos</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="cso" name="cso" value="Cursos Extracurriculares">
                                        <label for="cso">Cursos Extracurriculares</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="idi" name="idi" value="Cursos de Idioma">
                                        <label for="idi">Cursos de Idioma</label>
                                    </li>

                                </ul>
                            </section>

                            <section class="parts_checks">
                                <ul>
                                    <p>Turnos</p>
                                    <li>
                                        <input type="checkbox" id="m" name="m" value="Manhã">
                                        <label for="m">Manhã</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="t" name="t" value="Tarde">
                                        <label for="t">Tarde</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="int" name="int" value="Integral">
                                        <label for="int">Integral</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="n" name="n" value="Noite">
                                        <label for="n">Noite</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="sab" name="sab" value="Sábado">
                                        <label for="sab"><b style="color:red; font-weight: 300;">*</b>Sábado </label>
                                    </li>
                                </ul>
                            </section>

                            <section class="parts_checks">
                                <ul>
                                    <p>Rede</p>
                                    <li>
                                        <input type="checkbox" id="muni" name="muni" value="Municipal">
                                        <label for="muni">Municipal</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="est" name="est" value="Estadual">
                                        <label for="est">Estadual</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="fund" name="fund" value="Fundação">
                                        <label for="fund">Fundação</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="part" name="part" value="Particular">
                                        <label for="part">Particular</label>
                                    </li>
                                </ul>
                            </section>
                        </section>

                        <section class="gonbackButtons">
                            <button type="button" class="prev">Voltar</button>
                        </section>

                        <section class="submit">
                            <input type="submit" id="criar_conta" value="CRIAR CONTA" />
                        </section>
                    </span>
                </form>
            </section>
        </main>
    </section>

    <%- include('../partials/footer'); %>
    <script src="js/mascaras.js"></script>
    <script src="js/formMultiStep.js"></script>
    <!-- <script src="js/validationButton.js"></script> -->
</body>

</html>
