<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/cadastro-usuario.css">
    <title> Cadastro </title>
</head>

<body>
    <%
    let  erroValidacao =  {"name":"","email":"","password":"","reppassword":"","cellphone":""};
    let  msgErro =  {"name":"","email":"","password":"","reppassword":"","cellphone":""};
    if(erros) {
        erros.errors.forEach(function(erro) {
            if (erro.path == "name") {
                erroValidacao.name = "erro",
                msgErro.name = erro.msg
            }
            if (erro.path == "email") {
                erroValidacao.email = "erro",
                msgErro.email = erro.msg
            }
            if (erro.path == "password") {
                erroValidacao.password = "erro",
                msgErro.password = erro.msg
            }
            if (erro.path == "reppassword") {
                erroValidacao.reppassword = "erro",
                msgErro.reppassword = erro.msg
            }
            if (erro.path == "cellphone") {
                erroValidacao.cellphone = "erro",
                msgErro.cellphone = erro.msg
            }
        })
    }; %>

    <%- include('../partials/navbar'); %>

    <section id="centralizar">
    <main id="form_space">

        <section id="form">
            <form action="/registro_post" method="POST">

                <p>Nome</p>
                <input type="text" name="name" id="name" value="<%= valores.name %>" class="<%= erroValidacao.name%>">
                <span class="spanerro"><%=msgErro.name%></span>

                <p>Email</p>
                <input type="email" name="email" id="email" value="<%= valores.email %>" class="<%= erroValidacao.email%>">
                <span class="spanerro"><%=msgErro.email%></span>

                <p>Número de Telefone</p>
                <input type="text" name="cellphone" id="cellphone" value="<%= valores.cellphone %>"maxlenght="15" class="<%= erroValidacao.cellphone%>">
                <span class="spanerro"><%=msgErro.cellphone%></span>

                <p>Senha</p>
                <input type="password" name="password" id="password" value="<%= valores.password %>" class="<%= erroValidacao.password%>">
                <span class="spanerro"><%=msgErro.password%></span>

                <p>Confirmação de Senha</p>
                <input type="password" id="reppassword" name="reppassword" value="<%= valores.reppassword %>" class="<%= erroValidacao.reppassword%>">
                <span class="spanerro"><%=msgErro.reppassword%></span>
                <div>
                <input type="checkbox" id="politica">
                <label for="politica">Concordo com a política de privacidade</label>
                <p></p>
                <input type="checkbox" id="novidades">
                <label for="novidades">Desejo receber as novidades por e-mail</label>
                <p>
                </div>
            
            <section id="login2">
            <a href="/perfil-usuario"><input type="submit" id="login_button" value="CRIAR CONTA" /></a>
            </section>

            </form>
        </section>

        <section id="texto_lateral">
            <img src="imagem/cadastro_img.png">
        </section>
    </main>

    <%- include('../partials/footer')%>
    </section>  

</body>

</html>
