<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Cadastrar Escola</title>
    <link rel="stylesheet" href="css/">
    <link rel="stylesheet" href="css/cadastro-escola.css">
    <script>
        function rolar_pra_baixo(){
        window.scrollTo({
        top: 600,
        behavior: 'smooth'
        })
        }

    </script>
</head>

<body>
    <%
    let  erroValidacao =  {"name_school":"","adress":"","adress_n":"", "city":"", "email":"","password":"","reppassword":"", cnpj:""};
    let  msgErro =  {"name_school":"","adress":"","adress_n":"", "city":"", "email":"","password":"","reppassword":"", cnpj:""};
    if(erros) {
        erros.errors.forEach(function(erro) {
            if (erro.path == "name_school") {
                erroValidacao.name_school = "erro",
                msgErro.name_school = erro.msg
            }
            if (erro.path == "email") {
                erroValidacao.email = "erro",
                msgErro.email = erro.msg
            }
            if (erro.path == "password") {
                erroValidacao.password = "erro",
                msgErro.password = erro.msg
            }
            if (erro.path == "reppassword") {
                erroValidacao.reppassword = "erro",
                msgErro.reppassword = erro.msg
            }
            if (erro.path == "adress") {
                erroValidacao.adress = "erro",
                msgErro.adress = erro.msg
            }
            if (erro.path == "adress_n") {
                erroValidacao.adress_n = "erro",
                msgErro.adress_n = erro.msg
            }
            if (erro.path == "city") {
                erroValidacao.city = "erro",
                msgErro.city = erro.msg
            }
            if (erro.path  == "cnpj"){
                cssErro.cnpj = "erro";
                msgErro.cnpj = itemErro.msg;                
             }  

        })
    }; %>


    <%- include('../partials/navbar'); %><!DOCTYPE html>
    <nav id="top_part_space">
    <section id="top_part">
        <a>
            Inscreva sua instituição para alcançar seus <p>futuros alunos!</p>
        </a>
        <img src="imagem/asasa.png">
    </section>
    <section id="top_button">
    <button onclick="rolar_pra_baixo()">VAMOS LÁ!</button>
    </section>
    </nav>

    <section id="centralizar">
    <main id="form_space">
        <section id="form">
            <form action="cadastro_escola_post" method="POST">
                <h2 id="form_title">Informações Básicas</h2>
                <p>Nome da Escola</p>
                <input type="text" id="name_school" name="name_school" value="<%= valores.name_school %>" class="<%= erroValidacao.name_school%>">
                <span class="spanerro"><%=msgErro.name_school%></span>

                
                <section id="checkboxes">
                    <section id="parts_checks"> 
                    <p>Tipo de Ensino</p>
                    <ul>
                    <li>
                        <input type="checkbox" id="educacao_infantil">
                        <label for="educacao_infantil">Educação Infantil</label>
                    </li>
                    <li>
                        <input type="checkbox" id="educacao_infantil">
                        <label for="educacao_infantil">Ensino Fundamental</label>
                    </li>
                    <li>
                        <input type="checkbox" id="educacao_infantil">
                        <label for="educacao_infantil">Ensino Médio</label>
                    </li>
                    <li>
                        <input type="checkbox" id="educacao_infantil">
                        <label for="educacao_infantil">Educação Integrado</label>
                    </li>
                    <li>
                        <input type="checkbox" id="educacao_infantil">
                        <label for="educacao_infantil">Ensino Técnico</label>
                    </li>
                    <li>
                        <input type="checkbox" id="educacao_infantil">
                        <label for="educacao_infantil">Cursos Profissionalizantes</label>
                    </li>
                    <li>
                        <input type="checkbox" id="educacao_infantil">
                        <label for="educacao_infantil">Cursos Extracurriculares</label>
                    </li>
                    <li>
                        <input type="checkbox" id="educacao_infantil">
                        <label for="educacao_infantil">Cursos de Idioma</label>
                    </li>
                    <li>
                        <input type="checkbox" id="educacao_infantil">
                        <label for="educacao_infantil">Outro</label>
                    </li></ul>
                    </section>
    
                    <section id="parts_checks"> 
                        <p>Turnos</p><ul>
                        <li>
                            <input type="checkbox" id="educacao_infantil">
                            <label for="educacao_infantil">Manhã</label>
                        </li>
                        <li>
                            <input type="checkbox" id="educacao_infantil">
                            <label for="educacao_infantil">Tarde</label>
                        </li>
                        <li>
                            <input type="checkbox" id="educacao_infantil">
                            <label for="educacao_infantil">Integral</label>
                        </li>
                        <li>
                            <input type="checkbox" id="educacao_infantil">
                            <label for="educacao_infantil">Noite</label>
                        </li>
                        <li>
                            <input type="checkbox" id="educacao_infantil">
                            <label for="educacao_infantil">*Sábado</label>
                        </li></ul>
                    
                        </section>
    
                        <section id="parts_checks"> 
                            <p>Rede</p><ul>
                            <li>
                                <input type="checkbox" id="educacao_infantil">
                                <label for="educacao_infantil">Municipal</label>
                            </li>
                            <li>
                                <input type="checkbox" id="educacao_infantil">
                                <label for="educacao_infantil">Estadual</label>
                            </li>
                            <li>
                                <input type="checkbox" id="educacao_infantil">
                                <label for="educacao_infantil">Fundação</label>
                            </li>
                            <li>
                                <input type="checkbox" id="educacao_infantil">
                                <label for="educacao_infantil">Particular</label></li>
                            </ul> </section>
                           
                            </section>
                </section>

                
                
                
            </form>
        </section>
    </main>
</section>
    <%- include('../partials/footer'); %>
    <script src="js/mascaras.js"></script>
</body>

</html>
