<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/cadastro-usuario.css">
    <link rel="icon" type="image/png" href="/imagem/favicon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.js"></script>
    <title> Cadastro </title>
    <script>
        function notify(title, text, type, position, timeout = 5000) {
            new Notify({
                status: type,
                title: title,
                text: text,
                effect: 'fade',
                speed: 500,
                showIcon: true,
                showCloseButton: true,
                autoclose: true,
                autotimeout: timeout,
                gap: 20,
                distance: 20,
                type: 1,
                position: position
            });
        }
    </script>
</head>

<body>
    <%
    let  msgErro = "";
    let  erroValidacao =  {"name":"","email":"","password":"","reppassword":"","cellphone":""};
    let  avisoErro =  {"name":"","email":"","password":"","reppassword":"","cellphone":""};
    if(erros) {
        erros.errors.forEach(function(erro) {
            if (erro.path == "name") {
                erroValidacao.name = "erro",
                avisoErro.name = erro.msg
                msgErro += `* ${erro.msg} <br>`;
            }
            if (erro.path == "email") {
                erroValidacao.email = "erro",
                avisoErro.email = erro.msg
                msgErro += `* ${erro.msg} <br>`;
            }
            if (erro.path == "password") {
                erroValidacao.password = "erro",
                avisoErro.password = erro.msg
                msgErro += `* ${erro.msg} <br>`;
            }
            if (erro.path == "reppassword") {
                erroValidacao.reppassword = "erro",
                avisoErro.reppassword = erro.msg
                msgErro += `* ${erro.msg} <br>`;
            }
            if (erro.path == "cellphone") {
                erroValidacao.cellphone = "erro",
                avisoErro.cellphone = erro.msg
                msgErro += `* ${erro.msg} <br>`;
            }
        })
       if(msgErro != ""){
        %>
        <script>
                let msgErro ="<%= msgErro %>"
                notify("Erro(s) no preenchimento","Verifique o(s) campo(s) <br>  " + msgErro.replace(/&lt;/g,"<").replace(/&gt;/g,">"),
                 "error", "center", 5000)                        
            </script>
        <%
        }
    }
    if (dadosNotificacao) { %>
        <script>
                notify("<%= dadosNotificacao.titulo%>","<%= dadosNotificacao.mensagem%>", "<%= dadosNotificacao.tipo%>", "center")
                if("<%= dadosNotificacao.tipo %>" == "success"){
                    setTimeout(function(){window.location="/sair"}, 3000)
                }                        
        </script>
    <% } %>
    <%- include('../partials/navbar'); %>

    <section id="centralizar">
    <main id="form_space">

        <section id="form">
            <form action="/registro_post" method="POST">

                <p>Nome</p>
                <input type="text" name="name" id="name" value="<%= valores.name %>" class="<%= erroValidacao.name%>">
                <span class="spanerro"><%=msgErro.name%></span>

                <p>Email</p>
                <input type="email" name="email" id="email" value="<%= valores.email %>" class="<%= erroValidacao.email%>">
                <span class="spanerro"><%=msgErro.email%></span>

                <p>Número de Telefone</p>
                <input type="text" name="cellphone" id="cellphone" value="<%= valores.cellphone %>"maxlenght="15" class="<%= erroValidacao.cellphone%>" >
                <span class="spanerro"><%=msgErro.cellphone%></span>

                <p>Senha</p>
                <input type="password" name="password" id="password" value="<%= valores.password %>" class="<%= erroValidacao.password%>">
                <span class="spanerro"><%=msgErro.password%></span>

                <p>Confirmação de Senha</p>
                <input type="password" id="reppassword" name="reppassword" value="<%= valores.reppassword %>" class="<%= erroValidacao.reppassword%>">
                <span class="spanerro"><%=msgErro.reppassword%></span>

            
            <section id="login2">
                <input type="submit" id="login_button" value="CRIAR CONTA" />
            </section>

            </form>
        </section>

        <section id="texto_lateral">
            <img src="imagem/cadastro_img.png">
        </section>
    </main>

    <%- include('../partials/footer')%>
    </section>  

</body>

</html>
