<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/login-us.css">
    <link rel="stylesheet" href="css/login-mob.css">
    <link rel="icon" type="image/png" href="/imagem/favicon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.css" />
<script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.js"></script>
</head>

    <script>
        function notify(title, text, type, position, timeout = 5000) {
            new Notify({
                status: type,
                title: title,
                text: text,
                effect: 'fade',
                speed: 500,
                showIcon: true,
                showCloseButton: true,
                autoclose: true,
                autotimeout: timeout,
                gap: 20,
                distance: 20,
                type: 1,
                position: position
            });
        }
    </script>

<body>
    <%
        let erroValidacao = { "email": "", "password": "" };
        let avisoErro = { "email": "", "password": "" };
        let msgErro = "";
        if (typeof erros !== 'undefined' && erros) {
            erros.errors.forEach(function(erro) {
                if (erro.path == "email") {
                    erroValidacao.email = "erro",
                    avisoErro.email = erro.msg
                    msgErro += `* ${erro.msg} <br>`;
                }
                if (erro.path == "password") {
                    erroValidacao.password = "erro",
                    avisoErro.password = erro.msg
                    msgErro += `* ${erro.msg} <br>`;
                }
            })
        if(msgErro != ""){
        %>
        <script>
                let msgErro ="<%= msgErro %>"
                notify("Erro(s) no preenchimento","Verifique o(s) campo(s) <br>  " + msgErro.replace(/</g,"<").replace(/>/g,">"),
                 "error", "center", 5000)                        
            </script>
        <%
        }
    }
    if (dadosNotificacao) { %>
        <script>
                notify("<%= dadosNotificacao.titulo%>","<%= dadosNotificacao.mensagem%>", "<%= dadosNotificacao.tipo%>", "center")
                if("<%= dadosNotificacao.tipo %>" == "success"){
                    setTimeout(function(){window.location="/sair"}, 3000)
                }                        
        </script>
    <% } %>

    <%- include('../partials/navbar'); %>

    <section id="centralizar">
        <main id="form_space">
            <img src="imagem/normal_capelo_u29.svg" id="capelo" alt="Decoração" width="51" height="38">
            <section id="form">
                <form action="/login_post" method="POST">
                    <p id="email"><label for="email">Email</label></p>
                    <input type="email" id="email" name="email" value="<%= valores.email %>" class="<%= erroValidacao.email %>">
                    <span class="spanerro"><%= avisoErro.email %></span>

                    <p id="senha"><label for="password">Senha</label></p>
                    <input type="password" id="password" name="password" value="<%= valores.password %>" class="<%= erroValidacao.password %>">
                    <span class="spanerro"><%= avisoErro.password %></span>

                    <section>
                        <!-- <span id="conect">
                            <input type="checkbox" id="conectado" name="conectado">
                            <label for="conectado">Desejo me manter conectado</label>
                        </span> -->
                        <p><a id="f-password" href="#">Esqueci minha senha</a></p>
                    </section>

                    <section id="login2">
                        <input type="submit" id="login_button" value="LOGIN">
                    </section>

                    <section id="centralizar">
                        <span id="no-account">
                            Não tem uma conta? <a id="laranjinha" href="/cadastro-usuario">Cadastre-se</a>
                        </span>
                    </section>
                </form>
            </section>

            <section id="texto_lateral">
                <h3>Com o login você pode:</h3>
                <p><span class="marker">✓</span> Interagir com postagens;</p>
                <p><span class="marker">✓</span> Se inscrever para testes de admissão;</p>
                <p><span class="marker">✓</span> Marcar presença em eventos;</p>
                <p>Entre outros!</p>
                <h3>Junte-se a nossa <a href="/cadastro-usuario" id="amarelinho">comunidade</a>!</h3>
            </section>
        </main>
        <img id="picture" alt="Decorativa" src="imagem/login_image.png">
    </section>

    <script src="js/mascaras.js"></script>
    <%- include('../partials/footer'); %>
</body>

</html>
