<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil do Usuário</title>
    <link rel="stylesheet" href="css/vizu-perfil-usu.css">
    <link rel="stylesheet" href="css/alerts.css">
    <link rel="icon" type="image/png" href="/imagem/favicon.png">
</head>
<body>
    <%- include('../partials/navbar'); %>
    <style>
        :root {
            --background_banner: <%= valores.cor_banner || "#C7D3DD" %>;
        }
        #banner_perfil {
            background-color: var(--background_banner);
        }
    </style>
    <main id="perfil">
        <section id="banner_perfil" >
            <img src="<%= valores.img_perfil_pasta ? valores.img_perfil_pasta : 'https://cdn-icons-png.flaticon.com/512/219/219969.png' %>" id="perfil-foto-publica" alt="Foto de Perfil do Usuário">
        </section>
        <section id="conteudo">
            <section id="ajustar_esquerda">
                <article id="conteudo_perfil" class="alinhar" style="align-items:center;">
                    <h2 style="margin-top:20px;">
                        <%= valores.nome ? valores.nome : "Visitante" %>
                    </h2>
                </article>
                <section class="alinhar" >
                    <article class="bio"><%= valores.biografia ? valores.biografia : "Este usuário não possui biografia ainda" %></article> 
                </section>
                <section class="botoes alinhar">
                    <% if(autenticado && autenticado.autenticado && autenticado.id == valores.id){ %> <button class="edit" type="button"><a class="edit" href="/info" target="">Editar perfil</a></button> <% } %>
                </section>

                <section class="separador"></section>
            </section>
        </section>
        <section id="avaliacoes">
            <h1>Avaliações do usuário</h1>
            <section id="caixa_comentarios">
                <% if (avaliacoes && avaliacoes.length > 0) { %>
                    <% avaliacoes.forEach(aval => { %>
                        <article id="comentario">
                            <% if(autenticado && autenticado.autenticado && autenticado.id == valores.id){ %> <div class="trash-icon">&#128465;</div> <% } %>
                            <section id="info_usuario_comentario">
                                <a href="/perfil-usuario?id=<%= aval.id_usuario %>">
                                    <img src="<%= valores.img_perfil_banco ? valores.img_perfil_banco : valores.img_perfil_pasta ? valores.img_perfil_pasta : 'https://cdn-icons-png.flaticon.com/512/219/219969.png' %>" id="foto_comentario">
                                </a>
                                <h3 id="avalnome"><a href="/perfil-usuario?id=<%= aval.id_usuario %>"><%= valores.nome %></a></h3>
                                <p id="avaliou"> <a href="/perfil-escola?id=<%= aval.id_usuario_escola %>">  Avaliou: <%= aval.nome_escola || "Escola" %></a></p>
                            </section>
                            <p>• <%= aval.data_formatada || 'há algum tempo' %></p>
                            <section id="texto">
                                <%= aval.comentario %> <span class="estrelas"><%= '★'.repeat(aval.nota) + '☆'.repeat(5 - aval.nota) %></span>
                             </section>
                        </article>
                    <% }); %>
                <% } else { %>
                    <p>Este usuário ainda não fez nenhuma avaliação.</p>
                <% } %>
            </section>
    </main>
    <%- include('../partials/footer'); %>
    <script src="js/usuario-perfil.js"></script>
</body>
</html>
