<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Perfil Escola Canarinho </title>
    <link rel="stylesheet" href="css/vizu-perfil-usu.css">
    <link rel="stylesheet" href="css/perfil.css">
    <link rel="stylesheet" href="css/aval.css">
    <link rel="stylesheet" href="css/vizu.css">
    <!-- <link rel="stylesheet" href="css/carrossel-perfil.css"> -->
</head>

<body>
    <%- include('../partials/navbar'); %>

    <section class="perfil-container">
        <section class="perfil" id="pepe">
            <!-- <span class="logo-info"> -->
            <figure>
                <img src="<%= valores.img_perfil_banco || valores.img_perfil_pasta || '../imagem/escola-padrao.png' %>" alt="logo da escola" class="ft-perfil">
            </figure>
            <section class="info">
                <h1 class="nome-escola"><%= valores.nome_school %></h1>
                <aside class="niveis">
                    <% (valores.tipos_ensino || []).forEach(tipo => { %>
                        <h5 class="escolaridade EI"><%= tipo %></h5>
                    <% }) %>
                </aside>
                   <section class="descricao">
                    <p class="localidade "> <%= valores.adress %>, Nº <%= valores.adress_n %> <%= valores.city %> - <%= valores.state %></p>
                    <p class="instituicao ">Ensino Privado</p>
                    <p class="ingresso"> Mensalidade a partir de R$ 215,32</p>
                    <% if(autenticado && autenticado.autenticado){ %> <button class="edit" type="button"><a class="edit" href="/editar-escola" target="">Editar perfil</a></button> <% } %>
                    </section>
            </section>
        </section>
        <section class="slider">

            <section class="slides">
                <!--radio butoons-->
                <input type="radio" name="radio-btn" id="radio1" checked>
                <input type="radio" name="radio-btn" id="radio2">
                <input type="radio" name="radio-btn" id="radio3">
                <input type="radio" name="radio-btn" id="radio4">

                <!--imagem dos slide-->

                <section class="slide first">
                    <img src="imagem/primeira-carrossel.jpeg" alt="imagem-1">
                </section>
                <section class="slide">
                    <img src="imagem/segunda-carrossel.jpg" alt="imagem-2">
                </section>
                <section class="slide">
                    <img src="imagem/terceira.jpg" alt="imagem-3">
                </section>
                <section class="slide">
                    <img src="https://crechesonhoencantado.com.br/wp-content/uploads/2019/10/MG_2532.jpg" alt="imagem-4">
                </section>

                <section class="navegacao-auto">
                    <section class="auto-btn1"></section>
                    <section class="auto-btn2"></section>
                    <section class="auto-btn3"></section>
                    <section class="auto-btn4"></section>
                </section>

            </section>

            <!-- Left and right controls -->
            <a class="prev" onclick="changeSlide(-1)">&#10094;</a>
            <a class="next" onclick="changeSlide(1)">&#10095;</a>

            <section class="manual-navegacao">
                <label for="radio1" class="manual-btn"></label>
                <label for="radio2" class="manual-btn"></label>
                <label for="radio3" class="manual-btn"></label>
                <label for="radio4" class="manual-btn"></label>
            </section>
        </section>
    </section>
    <hr>
    <section class="ultimo_tamanho">
    <section class="informacao">
        <h1 class="titulo-contato">Sobre a Escola</h1>
    <article class="descricao2">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Escola Canarinho - a escola primária que se preocupa tanto com o futuro
        dos nossos filhos quanto com o futuro do nosso planeta! <br>Acreditamos que
        uma educação positiva pode fazer toda a diferença na formação de seres
        humanos conscientes e responsáveis,<br> prontos para lidar com os desafios
        do mundo moderno.<br> Venha nos conhecer e descobrir por que somos a escola
        que mais cresce em nossa cidade!
    </article>
        <h1 class="titulo-contato">Sobre o Ensino</h1>
        <ul class="listinha">
            <li>Valorizamos a diversidade e o respeito ;</li>
            <li>Ambiente de ensino acolhedor e inclusivo ;</li>
            <li>Atividades extracurriculares que estimulam o desenvolvimento físico, mental e emocional;</li>
            <li>Educação de Qualidade;</li>
            <li>Profissionais Qualificados;</li>
        </ul>
        <h1 class="titulo-contato">Sobre a Estrutura</h1>
        <ul class="listinha">
            <li>Salas de aulas climatizadas;</li>
            <li>Pátio com playground;</li>
            <li>Banheiros seguros;</li>
        </ul>
    </section>
    <p class="linha-vertical"></p>
<section class="lado">
    <section class="contatos">
        <h1 class="titulo-contato">Contato</h1>
        <section class="formas-contato">
            <figure><a href="https://www.instagram.com/" target="_blank"><img src="imagem/instagram.png" alt="Instagram" class="social-media" id="insta"></a></figure>
            <figure><a href="https://www.whatsapp.com" target="_blank"><img src="imagem/whatsapp.png" alt="WhattsApp" class="social-media" id="what"></a></figure>
            <figure><a href="https://www.facebook.com" target="_blank"><img src="imagem/facebook.png" alt="Facebook" class="social-media" id="face"></a></figure>
            <figure><a href="#" target="_blank"><img src="imagem/telephone.png"class="social-media" alt="Telefone" id="telefone"></a></figure>
            <figure><a href="#" target="_blank"><img src="imagem/mail.png"class="social-media" alt="Email" id="email"></a></figure>
        </section>
    </section>
    <section class="contatos">
        <h1 class="titulo-contato">Acessibilidade</h1>
        <section class="formas-contato">
            <figure><a href="#" target="_blank"><img src="imagem/bengala.png" alt="Instagram" class="social-media" id="#"></a></figure>
            <figure><a href="#" target="_blank"><img src="imagem/lingua-de-sinais.png" alt="WhattsApp" class="social-media" id="#"></a></figure>
            <figure><a href="#" target="_blank"><img src="imagem/acessibilidade-cadeira-de-rodas.png" alt="Facebook" class="social-media" id= "#"></a></figure>
        </section>
    </section>
    <section class="contatos">
    <h1 class="titulo-contato">Ingresso</h1>
        <section class="config-ingresso">
    <article class="tipos-de-ingresso"><p><b>Berçario</b> - menores de 2 anos </p>
        <p>A partir de R$ 215,32</p></article>
    <article class="tipos-de-ingresso"><p><b>Maternal I</b> - 2 anos </p>
            <p>A partir de R$ 237,10</p></article>
    <article class="tipos-de-ingresso"><p><b>Maternal II</b> - 3 anos </p>
                <p>A partir de R$ 268,24</p></article>
    <article class="tipos-de-ingresso"><p><b>Jardim I</b> - 4 anos </p>
                    <p>A partir de R$ 285,03</p></article>
        </section>
    </section>
    </section>
</section>

    <script src="script.js"></script>
    <hr id="div">
    <section class="aval"><br>
        <h1>Avaliações</h1>
        <p class="avalinfo">Compartilhe suas impressões e experiência sobre essa instituição</p>
        <span class="centro">
        <section class="rating">
            <input type="radio" name="rating" id="rating-5">
            <label for="rating-5"></label>
            <input type="radio" name="rating" id="rating-4">
            <label for="rating-4"></label>
            <input type="radio" name="rating" id="rating-3">
            <label for="rating-3"></label>
            <input type="radio" name="rating" id="rating-2">
            <label for="rating-2"></label>
            <input type="radio" name="rating" id="rating-1">
            <label for="rating-1"></label>
        </section>
        <section class="ratetext">
            <textarea name="ratetext" id="ratetext" maxlength="352" placeholder="Escreva aqui sua opinião"></textarea>
            <span id="caracteres">O número de caracteres foi atingido!</span>
        </section>
        <section> <button type="submit" id="enviar">Enviar</button></section></span>

        <section id="avaliacoes">
            <hr>
            <section id="caixa_comentarios">
                <% for(let i=0; i<3; i++){ %>
                <article id="comentario">
                    <section id="info_usuario_comentario">
                        <img src="https://cdn-icons-png.flaticon.com/512/219/219969.png" id="foto_comentario">
                        <h3><%=  "Visitante" %></h3>
                    </section>
                    <p>• há 3 meses</p>
                    <section id="texto">
                        Aqui entra a avaliação do usuário e o que ele achou <img src="imagem/5estrelas.webp" id="estrelas">
                    </section>
                </article>
                <% } %>
            </section>
        </section>

    </section>
<%- include('../partials/footer'); %>
<script>
    const textarea = document.getElementById('ratetext');
    const warning = document.getElementById('caracteres');

    textarea.addEventListener('input', () => {
        let caracteres = textarea.value.length;

        if (caracteres >= 352) {
            warning.style.display = 'block';
        } else {
            warning.style.display = 'none';
        }
    });

    let counter = 1;
    setInterval(function(){
      document.getElementById('radio' + counter).checked = true;
      counter++;
      if(counter > 4){
        counter = 1;
      }
    }, 5000);

    function changeSlide(n) {
      counter += n;
      if (counter > 4) counter = 1;
      if (counter < 1) counter = 4;
      document.getElementById('radio' + counter).checked = true;
    }

</script>
</body>
</html>

<!-- 
<img class="foto-escola" src="imagem/canarinho.jpg">
<section class="nome-escola">Escola Canarinho</section>
<section class="classificacao">Ensino Infantil</section>
<img class="imagem-localizacao" src="imagem/lupinha.svg">
<section class="local">Avenida Brasil, Nº 328 <br>
    Piratininga - Osasco, SP</section>
<section class="privado">Ensino Privado</section>
<section class="mensalidade">Mensalidades a partir de R$215,32</section>


    <header>
        <section>
            <ul class="slider">
                <li>
                    <input class="imagem" type="radio" id="slide1" name="slide" checked>
                    <label for="slide1"></label> 
                    <img src="imagem/primeira-carossel.jpeg">
                </li>
                <li>
                    <input class="imagem" type="radio" id="slide2" name="slide" checked>
                    <label for="slide2"></label> 
                    <img src="imagem/terceira-carrossel.jpg">
                </li>
                <li>
                    <input class="imagem" type="radio" id="slide3" name="slide" checked>
                    <label for="slide3"></label> 
                    <img src="imagem/segunda-carossel.jpg">
                </li>
                </ul>
        </section>

   <img class="foto-escola" src="imagem/canarinho.jpg">
    <section class="nome-escola">Escola Canarinho</section>
    <section class="classificacao">Ensino Infantil</section>
    <img class="imagem-localizacao" src="imagem/lupinha.svg">
    <section class="local">Avenida Brasil, Nº 328 <br>
        Piratininga - Osasco, SP</section>
    <section class="privado">Ensino Privado</section>
    <section class="mensalidade">Mensalidades a partir de R$215,32</section>
    
    
        <header>
            <section>
                <ul class="slider">
                    <li>
                        <input class="imagem" type="radio" id="slide1" name="slide" checked>
                        <label for="slide1"></label> 
                        <img src="imagem/primeira-carossel.jpeg">
                    </li>
                    <li>
                        <input class="imagem" type="radio" id="slide2" name="slide" checked>
                        <label for="slide2"></label> 
                        <img src="imagem/terceira-carrossel.jpg">
                    </li>
                    <li>
                        <input class="imagem" type="radio" id="slide3" name="slide" checked>
                        <label for="slide3"></label> 
                        <img src="imagem/segunda-carossel.jpg">
                    </li>
                    </ul>
            </section>

       <script>

    temp = 2
    let tempo_para_trocar;
    var delay = 3 * 1000
      
    function ChangeSlide() {
        var desaparecer = document.getElementById('slide'+temp);
        temp += 1;
        desaparecer.checked = false;
        if(document.getElementById('slide'+temp) == null){temp = 1}
        var aparecer = document.getElementById('slide'+temp)
        aparecer.checked = true;
        
    }
     
    function AutoRun(){
        if (!tempo_para_trocar) {
            tempo_para_trocar = setInterval(ChangeSlide, delay);
          }
    }

       </script>



    </header>
<br><br><br><br><br><br><br><br><br><br><BR><BR>
    <hr class="linha-quebra"> -->