<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil do Usuário</title>
    <link rel="stylesheet" href="css/vizu-perfil-usu.css">
    <link rel="stylesheet" href="css/alerts.css">
    <link rel="icon" type="image/png" href="/imagem/favicon.png">
</head>
<body>
    <%- include('../partials/navbar'); %>
    <main id="perfil">
        <section id="banner_perfil">
            <img src="<%= valores.img_perfil_pasta ? valores.img_perfil_pasta : 'https://cdn-icons-png.flaticon.com/512/219/219969.png' %>" id="perfil-foto-publica" alt="Foto de Perfil do Usuário">
        </section>
        <section id="conteudo">
            <section id="ajustar_esquerda">
                <article id="conteudo_perfil" class="alinhar" style="align-items:center;">
                    <h2 style="margin-top:20px;">
                        <%= valores.name ? valores.name : "Visitante" %>
                    </h2>
                </article>
                <section class="alinhar" >
                    <article class="bio"><%= valores.biografia ? valores.biografia : "Este usuário não possui biografia ainda" %></article> 
                </section>
                <section class="botoes alinhar">
                    <% if(autenticado && autenticado.autenticado){ %> <button class="edit" type="button"><a class="edit" href="/info" target="">Editar perfil</a></button> <% } %>
                </section>

                <section class="separador"></section>
            </section>
        </section>
        <section id="avaliacoes">
            <h1>Avaliações do usuário</h1>
            <section id="caixa_comentarios">
                <% for(let i=0; i<3; i++){ %>
                <article id="comentario">
                    <section id="info_usuario_comentario">
                        <img src="https://cdn-icons-png.flaticon.com/512/219/219969.png" id="foto_comentario">
                        <h3><%= valores.name ? valores.name : "Visitante" %></h3>
                    </section>
                    <p>• há 3 meses</p>
                    <section id="texto">
                        Aqui entra a avaliação do usuário e o que ele achou <img src="imagem/5estrelas.webp" id="estrelas">
                    </section>
                </article>
                <% } %>
            </section>
        </section>
    </main>
    <%- include('../partials/footer'); %>
    <script src="js/usuario-perfil.js"></script>
</body>
</html>
