<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.js"></script>
    <link rel="stylesheet" href="css/rec-pass.css">
    <script src="js/mascaras.js" defer></script>
    <title> Recuperação de Senha </title>
    <link rel="icon" type="image/png" href="/imagem/favicon.png">
</head>

<body>
    <%- include('../partials/navbar'); %>

    <% 
            let avisoErro = {"email_usu":""}
            let msgErro = ""
                if(listaErros){
                    listaErros.errors.forEach(function(itemErro){
                        if(itemErro.path == "email_usu"){
                            avisoErro.email_usu = "erro";
                            msgErro += `* ${itemErro.msg} <br>`
                        }
                    })
                    if(msgErro != ""){
                    %>
                        <script>
                            let msgErro ="<%= msgErro %>"
                            notify("Erro(s) no preenchimento", 
                                   "Verifique o(s) campo(s) <br> " + msgErro.replace(/&lt;/g,"<").replace(/&gt;/g,">"), 
                                   "error", "center", 5000)                        
                        </script>
                    <%
                    }
                }
                if (dadosNotificacao) { %>
                    <script>
                            notify("<%= dadosNotificacao.titulo%>","<%= dadosNotificacao.mensagem%>", "<%= dadosNotificacao.tipo%>", "center")
                            if("<%= dadosNotificacao.tipo %>" == "success"){
                                setTimeout(function(){window.location="/"}, 3000)
                            }                        
                    </script>
                <% } %>              

    <article class="text">
        <span id="texto">
        <h1>Esqueceu a senha?</h1>
        <p>Para recuperar sua senha, insira seu e-mail cadastrado e uma mensagem será enviada
            <br> Após  redefinir  a  senha,  ela será atualizada   logo   em seguida!</p></span>
        <img src="imagem/normal_u9.png" alt="Decorativa">
    </article>
    <section class="center">
    <form action="/redefinir_post" method="POST" id="passwordf">
        <label for="email" id="email">Email</label><br>
        <input type="email" name="email" id="email"><br><br>
        <!-- <label for="number" id="number">Número de Telefone</label>
        <br>
        <input type="text" id="cellphone" maxlength="15"><br><br> <span class="margem">‎</span> -->
        <button type="submit" id="enviar" class="center">Enviar</button>
    </form></section>
    <aside><p id="retornar"><a href="/login" class="center">Retorne para a seção de login</a></p></aside>

</body>
<script>
        document.addEventListener('DOMContentLoaded', function () {
        const numero = document.getElementById('cellphone');
    
        numero.addEventListener('keypress', (event) => {
            const numerLength = numero.value.replace(/[^0-9]/g, '').length; // Contar apenas números
    
            // Impedir a inserção de mais caracteres
            if (numerLength >= 11) {
                event.preventDefault();
            }
    
            // Formatação do telefone
            if (numerLength === 0) {
                numero.value += '(';
            } else if (numerLength === 2) {
                numero.value += ') ';
            } else if (numerLength === 7) {
                numero.value += '-';
            }
        });
    });
</script>

<%- include('../partials/footer'); %>
<<<<<<< HEAD
</html
=======
</html>
>>>>>>> 0ef419d (coisas)
